*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    width: 100%;
}

#header{
    width: 100%;
    height: 80px;
    background: #002654;
}

#green-strip{
    width: 100%; height: 20px;
    border-style: solid;
    border-color: #026f4d;
    background-color: #026f4d;
}

header{
    z-index: 10;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    text-align: left;
    position: absolute;
    width: 300px;
    height: 55px;
}

nav{
    text-align: right;
}

.nav-links{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    top: 20px;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 3vw;
    position: relative;
}

nav ul li a{
    font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 500;
    font-style: normal;
    letter-spacing: 0.05vw;
    font-smooth: 2em;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #b6b8b6;
}

nav a::before{
    content: '';
    display: block;
    height: 0.35vh;
    width: 100%;
    background-color: #fff;

    position: absolute;
    top: -2vh;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

.burger{
    display: none;
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1000px){
    body{
        overflow-x: hidden;
    }

    .logo{
        margin-top: 12px;
        width: 150px;
        height: 27.5px;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 70vh;
        margin-top: 8vh;
        background-color: #002654;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        z-index: 10;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    nav ul li{
        margin-bottom: 8vh;
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.title-container{
    height: 7vh;
    background: linear-gradient(#002654, #026f4d)
}

.title-container h3.title{
    font-size: 2.5vw;
    font-family: adobe-garamond-pro, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #fff;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin-top: 40px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
  margin-top: 20px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: black;
  font-weight: 600;
}

.container h2{
  font-family: sans-serif;
}

.container p{
  margin-top: 16px;
  font-family: sans-serif;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #737373;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

#blue-strip{
    width: 100%; height: 4vh;
    border-style: solid;
    border-color: #002654;
    background-color: #002654;
}

#copyright{
    height: 6.7vh;
    border-color: #026f4d;
    background-color: #026f4d;
    text-align: center;
}

#blank-space{
    color: #026f4d;
}

#copyright-txt{
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
}