#green-strip{
    width: 99vw; height: 4vh;
    border-style: solid;
    border-color: #026f4d;
    background-color: #026f4d;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #005654;
}