#green-strip{
    width: 99vw; height: 2.5vh;
    border-style: solid;
    border-color: #026f4d;
    background-color: #026f4d;
}

// nav bar container
.container {
    width: 99vw;
    margin: 0 auto;
}

// nav bar/header background
header {
    background: #002654;
    position: fixed;
}

// prevents container from shrinking after nav bar elements float
header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 3vw;
    margin-right: 7.5vw;
    padding-top: 2vh;
}
